@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
.fade-in {
  animation: fade-in 0.5s;
}

.fade-out {
  animation: fade-out 0.5s;
}

.slide-up {
  animation: slide-up 0.5s;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: #fcf8f6;
  font-family: "Red Hat Text", sans-serif;
}

html,
body,
#root {
  min-height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  padding: 2.4rem;
  position: relative;
  overflow-y: hidden;
}

.desserts {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
.desserts__title {
  color: #260f08;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.8rem;
}
.desserts__container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.dessert {
  display: flex;
  flex-direction: column;
  gap: 3.8rem;
}
.dessert__image-container {
  max-width: 32.7rem;
  position: relative;
}
.dessert__img {
  display: block;
  width: 100%;
  border-radius: 0.8rem;
  border: 0.2rem solid transparent;
  transition: border-color 0.3s ease-in-out;
}
.dessert__btn-container {
  width: 16rem;
  height: 4.4rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}
.dessert__cart-btn {
  justify-content: center;
  gap: 0.8rem;
  border: 0.1rem solid #ad8a85;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 99.9rem;
  padding: 1.2rem;
  background: #fff;
  cursor: pointer;
  transition: border-color 0.5s;
}
.dessert__cart-icon {
  display: block;
}
.dessert__cart-text {
  color: #260f08;
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  transition: color 0.5s;
}
.dessert__quantity {
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 99.9rem;
  padding: 1.2rem;
  background: #c73b0f;
}
.dessert__decrement-btn, .dessert__increment-btn {
  background: none;
  border: none;
  cursor: pointer;
}
.dessert__decrement-icon, .dessert__increment-icon {
  display: block;
}
.dessert__quantity-value {
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
}
.dessert__description {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.dessert__category {
  color: #87635a;
  font-size: 1.4rem;
}
.dessert__name {
  color: #260f08;
  font-size: 1.6rem;
  font-weight: 600;
}
.dessert__price {
  color: #c73b0f;
  font-size: 1.6rem;
  font-weight: 600;
}

.cart {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding: 2.4rem;
  border-radius: 1.2rem;
  background: #fff;
  width: 100%;
  max-width: 32.7rem;
}
.cart__quantity {
  color: #c73b0f;
  font-size: 2.4rem;
  font-weight: 700;
}
.cart__empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
  padding: 1.6rem 0;
}
.cart__empty-img {
  display: block;
}
.cart__empty-text {
  color: #87635a;
  font-size: 1.4rem;
  font-weight: 600;
}
.cart__filled {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.cart__order {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.cart__order-icon-delivery {
  background: #fcf8f6;
  border-radius: 0.8rem;
  padding: clamp(1.4rem, 1.4rem + 2 * (100vw - 32rem) / 55, 1.6rem);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.cart__order-icon {
  display: block;
}
.cart__order-delivery {
  color: #260f08;
  font-size: clamp(1.2rem, 1.2rem + 2 * (100vw - 32rem) / 55, 1.4rem);
  white-space: nowrap;
}
.cart__order-delivery-semi-bold {
  font-weight: 600;
}

.items {
  list-style: none;
}
.items .item:not(:first-child) {
  padding-top: 1.6rem;
}
.items .item:last-child {
  padding-bottom: 2.4rem;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.6rem;
  border-bottom: 0.1rem solid #f5eeec;
}
.item__thumbnail {
  display: block;
  width: clamp(4.6rem, 4.6rem + 2 * (100vw - 32rem) / 55, 4.8rem);
  height: clamp(4.6rem, 4.6rem + 2 * (100vw - 32rem) / 55, 4.8rem);
  border-radius: 0.4rem;
  margin-right: 1.6rem;
}
.item__details {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.item__name {
  color: #260f08;
  font-size: 1.4rem;
  font-weight: 600;
}
.item__pricing {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}
.item__quantity {
  color: #c73b0f;
  font-size: 1.4rem;
  font-weight: 600;
}
.item__price {
  color: #87635a;
  font-size: 1.4rem;
}
.item__total-price {
  color: #87635a;
  font-size: 1.4rem;
  font-weight: 600;
}
.item__remove-btn {
  border: none;
  background: none;
}
.item__remove-icon {
  display: block;
}

.order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order__total-text {
  color: #260f08;
  font-size: 1.4rem;
}
.order__total-price {
  color: #260f08;
  font-size: 2.4rem;
  font-weight: 700;
}

.btn-order {
  height: 5.3rem;
  border: none;
  border-radius: 99.9rem;
  background: #c73b0f;
  color: #fff;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 600;
  transition: transform 0.1s ease-in-out;
  padding: 1.6rem;
}
.btn-order:active {
  transform: translateY(0.2rem);
}

.modal {
  border-radius: 1.2rem 1.2rem 0 0;
  background: #fff;
  padding: 4rem clamp(2.4rem, 2.4rem + 16 * (100vw - 37.5rem) / 393, 4rem) clamp(2.4rem, 2.4rem + 16 * (100vw - 37.5rem) / 393, 4rem);
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  width: 100%;
  bottom: 0;
  z-index: 10;
  position: fixed;
  max-height: 100vh;
  overflow-y: auto;
  top: 10%;
}
.modal__icon-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 2.4rem;
}
.modal__confirmed-icon {
  display: block;
}
.modal__text {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.modal__text-confirmed {
  color: #260f08;
  font-size: 4rem;
  font-weight: 700;
  line-height: 4.8rem;
}
.modal__text-enjoy {
  color: #87635a;
  font-size: 1.6rem;
}
.modal__items-order {
  padding: clamp(2rem, 2rem + 4 * (100vw - 32rem) / 55, 2.4rem);
  border-radius: 0.8rem;
  background: #fcf8f6;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.modal__items-order .items .item {
  justify-content: initial;
}
.modal__items-order .items .item .item__details {
  margin-right: 1.6rem;
}
.modal__items-order .items .item .item__details .item__name {
  font-size: clamp(1.2rem, 1.2rem + 2 * (100vw - 32rem) / 55, 1.4rem);
}
.modal__items-order .items .item .item__details .item__pricing {
  gap: 1.6rem;
}
.modal__items-order .items .item .item__total-price {
  margin-left: auto;
  color: #260f08;
  font-size: clamp(1.4rem, 1.4rem + 2 * (100vw - 32rem) / 55, 1.6rem);
}
.modal + .overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

@media only screen and (min-width: 35.9375em) {
  @keyframes slide-up {
    from {
      top: 100%;
    }
    to {
      top: 50%;
    }
  }
  .app {
    padding: 4rem;
  }
  .desserts__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem 2.4rem;
  }
  .dessert__image-container {
    max-width: 33.2rem;
  }
  .cart {
    max-width: 80.2rem;
  }
  .modal {
    border-radius: 1.2rem;
    width: calc(100% - 8rem);
    max-width: 80.2rem;
    bottom: initial;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media only screen and (min-width: 48em) {
  .desserts__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .dessert__image-container {
    max-width: 25.1rem;
  }
}
@media only screen and (min-width: 90em) {
  #root {
    padding: 8.8rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .app {
    flex-direction: row;
    align-items: start;
    padding: initial;
  }
  .cart {
    width: 38.4rem;
  }
  .modal {
    width: 59.2rem;
  }
}
@media only screen and (min-width: 62em) {
  .dessert__cart-btn:hover {
    border: 0.1rem solid #c73b0f;
  }
  .dessert__cart-btn:hover .dessert__cart-text {
    color: #c73b0f;
  }
  .dessert__decrement-btn:hover #Vector_2 {
    fill: #c73b0f;
  }
}
.dessert__img--added {
  border-color: #c73b0f;
}

.modal-open {
  overflow: hidden;
}/*# sourceMappingURL=main.css.map */