// ********* DESIGN SYSTEM *********

// ************ COLORS ************
$color-red: #c73b0f;
$color-rose-900: #260f08;
$color-rose-500: #87635a;
$color-rose-400: #ad8a85;
$color-rose-300: #caafa7;
$color-rose-100: #f5eeec;
$color-rose-50: #fcf8f6;
$color-green: #1ea575;
$color-black: #000;
$color-white: #fff;

// ********** FONT-FAMILY **********
$font-red-hat-text: "Red Hat Text", sans-serif;

// ********* FONT-WEIGHTS *********
$fw-regular: 400;
$fw-semi-bold: 600;
$fw-bold: 700;

// ************* SPACING *************
$spacing-1100: 8.8rem;
$spacing-500: 4rem;
$spacing-400: 3.2rem;
$spacing-300: 2.4rem;
$spacing-200: 1.6rem;
$spacing-150: 1.2rem;
$spacing-100: 0.8rem;
$spacing-50: 0.4rem;

// ************* BASE *************
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: $color-rose-50;
  font-family: $font-red-hat-text;
}

html,
body {
  height: 100%;
}

// ********* MOBILE LAYOUTS *********

// ********** 375px LAYOUT **********
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-400;
  padding: $spacing-300;
}

// ************ DESSERTS ************
.desserts {
  display: flex;
  flex-direction: column;
  gap: $spacing-400;

  &__title {
    color: $color-rose-900;
    font-size: 4rem;
    font-weight: $fw-bold;
    line-height: 4.8rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: $spacing-300;
  }
}

// ************* DESSERT *************
.dessert {
  display: flex;
  flex-direction: column;
  gap: 3.8rem;

  &__image-container {
    max-width: 32.7rem;
    position: relative;
  }

  &__img {
    display: block;
    width: 100%;
    border-radius: $spacing-100;
    border: 0.2rem solid transparent;
  }

  &__cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing-100;
    width: 16rem;
    height: 4.4rem;
    border-radius: 99.9rem;
    border: 0.1rem solid $color-rose-400;
    background: $color-white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  &__cart-icon {
    display: block;
  }

  &__cart-text {
    color: $color-rose-900;
    font-family: $font-red-hat-text;
    font-size: 1.4rem;
    font-weight: $fw-semi-bold;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: $spacing-50;
  }

  &__category {
    color: $color-rose-500;
    font-size: 1.4rem;
  }

  &__name {
    color: $color-rose-900;
    font-size: 1.6rem;
    font-weight: $fw-semi-bold;
  }

  &__price {
    color: $color-red;
    font-size: 1.6rem;
    font-weight: $fw-semi-bold;
  }
}

// ************** CART **************
.cart {
  display: flex;
  flex-direction: column;
  gap: $spacing-300;
  padding: $spacing-300;
  border-radius: 1.2rem;
  background: $color-white;
  width: 100%;
  max-width: 32.7rem;

  &__quantity {
    color: $color-red;
    font-size: 2.4rem;
    font-weight: $fw-bold;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-200;
  }

  &__empty-img {
    display: block;
  }

  &__empty-text {
    color: $color-rose-500;
    font-size: 1.4rem;
    font-weight: $fw-semi-bold;
  }

  &__filled {
    display: flex;
    flex-direction: column;
    gap: $spacing-300;
  }

  &__order {
    display: flex;
    flex-direction: column;
    gap: $spacing-300;
  }

  &__order-icon-delivery {
    background: $color-rose-50;
    border-radius: 0.8rem;
    padding: $spacing-200;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing-100;
  }

  &__order-icon {
    display: block;
  }

  &__order-delivery {
    color: $color-rose-900;
    font-size: 1.4rem;

    &-semi-bold {
      font-weight: $fw-semi-bold;
    }
  }
}

// ************** ITEMS **************
.items {
  list-style: none;

  & .item:not(:first-child) {
    padding-top: $spacing-200;
  }
}

// *************** ITEM ***************
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: $spacing-200;
  border-bottom: 0.1rem solid $color-rose-100;

  &__thumbnail {
    display: block;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 0.4rem;
    margin-right: $spacing-200;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: $spacing-100;
  }

  &__name {
    color: $color-rose-900;
    font-size: 1.4rem;
    font-weight: $fw-semi-bold;
  }

  &__pricing {
    display: flex;
    gap: $spacing-100;
    align-items: center;
  }

  &__quantity {
    color: $color-red;
    font-size: 1.4rem;
    font-weight: $fw-semi-bold;
  }

  &__price {
    color: $color-rose-500;
    font-size: 1.4rem;
  }

  &__total-price {
    color: $color-rose-500;
    font-size: 1.4rem;
    font-weight: $fw-semi-bold;
  }

  &__remove-btn {
    border: none;
    background: none;
  }

  &__remove-icon {
    display: block;
  }
}

// ************** ORDER **************
.order {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__total-text {
    color: $color-rose-900;
    font-size: 1.4rem;
  }

  &__total-price {
    color: $color-rose-900;
    font-size: 2.4rem;
    font-weight: $fw-bold;
  }
}

// ************* OrderBtn *************
.btn-order {
  height: 5.3rem;
  border: none;
  border-radius: 99.9rem;
  background: $color-red;
  color: $color-white;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: $fw-semi-bold;
}

// ************** MODAL **************
.modal {
  border-radius: 1.2rem 1.2rem 0 0;
  background: $color-white;
  padding: $spacing-500 $spacing-300 $spacing-300;
  display: flex;
  flex-direction: column;
  gap: $spacing-400;
  position: absolute;
  width: 100%;

  &__icon-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: $spacing-300;
  }

  &__confirmed-icon {
    display: block;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: $spacing-100;
  }

  &__text-confirmed {
    color: $color-rose-900;
    font-size: 4rem;
    font-weight: $fw-bold;
    line-height: 4.8rem;
  }

  &__text-enjoy {
    color: $color-rose-500;
    font-size: 1.6rem;
  }

  &__items-order {
    padding: $spacing-300;
    border-radius: 0.8rem;
    background: $color-rose-50;
    display: flex;
    flex-direction: column;
    gap: $spacing-300;

    & .items .item {
      justify-content: initial;

      & .item__details .item__pricing {
        gap: $spacing-200;
      }

      & .item__total-price {
        margin-left: auto;
        color: $color-rose-900;
        font-size: 1.6rem;
      }
    }
  }
}
