// ********* DESIGN SYSTEM *********

// ************ COLORS ************
$color-red: #c73b0f;
$color-rose-900: #260f08;
$color-rose-500: #87635a;
$color-rose-400: #ad8a85;
$color-rose-300: #caafa7;
$color-rose-100: #f5eeec;
$color-rose-50: #fcf8f6;
$color-green: #1ea575;
$color-black: #000;
$color-white: #fff;
$color-overlay-bg: rgba(0, 0, 0, 0.5);

// ********** FONT-FAMILY **********
$font-red-hat-text: "Red Hat Text", sans-serif;

// ********* FONT-WEIGHTS *********
$fw-regular: 400;
$fw-semi-bold: 600;
$fw-bold: 700;

// ************* SPACING *************
$spacing-1100: 8.8rem;
$spacing-500: 4rem;
$spacing-400: 3.2rem;
$spacing-300: 2.4rem;
$spacing-200: 1.6rem;
$spacing-150: 1.2rem;
$spacing-100: 0.8rem;
$spacing-50: 0.4rem;

// ******* RESPONSIVE VARIABLES *******
$responsive-12px-14px: clamp(
  1.2rem,
  calc(1.2rem + (2 * ((100vw - 32rem) / 55))),
  1.4rem
);

$responsive-14px-16px: clamp(
  1.4rem,
  calc(1.4rem + (2 * ((100vw - 32rem) / 55))),
  1.6rem
);

$responsive-20px-24px: clamp(
  2rem,
  calc(2rem + (24 - 20) * ((100vw - 32rem) / (375 - 320))),
  2.4rem
);

$responsive-46px-48px: clamp(
  4.6rem,
  calc(4.6rem + (48 - 46) * ((100vw - 32rem) / (375 - 320))),
  4.8rem
);

$responsive-24px-40px: clamp(
  2.4rem,
  calc(2.4rem + (40 - 24) * ((100vw - 37.5rem) / (768 - 375))),
  4rem
);

// ************** MIXINS **************
@mixin dessert-btn-styles($bg-color) {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 99.9rem;
  padding: $spacing-150;
  background: $bg-color;
}

// ************ ANIMATIONS ************
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

// ********** ANIMATION CLASSES **********
.fade-in {
  animation: fade-in 0.5s;
}

.fade-out {
  animation: fade-out 0.5s;
}

.slide-up {
  animation: slide-up 0.5s;
}

// ************* BASE *************
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background: $color-rose-50;
  font-family: $font-red-hat-text;
}

html,
body,
#root {
  min-height: 100vh;
}

// ********* MOBILE LAYOUTS *********

// ********** 375px LAYOUT **********
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-400;
  padding: $spacing-300;
  position: relative;
  overflow-y: hidden;
}

// ************ DESSERTS ************
.desserts {
  display: flex;
  flex-direction: column;
  gap: $spacing-400;

  &__title {
    color: $color-rose-900;
    font-size: 4rem;
    font-weight: $fw-bold;
    line-height: 4.8rem;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: $spacing-300;
  }
}

// ************* DESSERT *************
.dessert {
  display: flex;
  flex-direction: column;
  gap: 3.8rem;

  &__image-container {
    max-width: 32.7rem;
    position: relative;
  }

  &__img {
    display: block;
    width: 100%;
    border-radius: $spacing-100;
    border: 0.2rem solid transparent;
    transition: border-color 0.3s ease-in-out;
  }

  &__btn-container {
    width: 16rem;
    height: 4.4rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
  }

  &__cart-btn {
    justify-content: center;
    gap: $spacing-100;
    border: 0.1rem solid $color-rose-400;
    @include dessert-btn-styles($color-white);
    cursor: pointer;
    transition: border-color 0.5s;
  }

  &__cart-icon {
    display: block;
  }

  &__cart-text {
    color: $color-rose-900;
    font-family: $font-red-hat-text;
    font-size: 1.4rem;
    font-weight: $fw-semi-bold;
    transition: color 0.5s;
  }

  &__quantity {
    justify-content: space-between;
    @include dessert-btn-styles($color-red);
  }

  &__decrement-btn,
  &__increment-btn {
    background: none;
    border: none;
    cursor: pointer;
  }

  &__decrement-icon,
  &__increment-icon {
    display: block;
  }

  &__quantity-value {
    color: $color-white;
    font-size: 1.4rem;
    font-weight: $fw-semi-bold;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: $spacing-50;
  }

  &__category {
    color: $color-rose-500;
    font-size: 1.4rem;
  }

  &__name {
    color: $color-rose-900;
    font-size: 1.6rem;
    font-weight: $fw-semi-bold;
  }

  &__price {
    color: $color-red;
    font-size: 1.6rem;
    font-weight: $fw-semi-bold;
  }
}

// ************** CART **************
.cart {
  display: flex;
  flex-direction: column;
  gap: $spacing-300;
  padding: $spacing-300;
  border-radius: 1.2rem;
  background: $color-white;
  width: 100%;
  max-width: 32.7rem;

  &__quantity {
    color: $color-red;
    font-size: 2.4rem;
    font-weight: $fw-bold;
  }

  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $spacing-200;
    padding: $spacing-200 0;
  }

  &__empty-img {
    display: block;
  }

  &__empty-text {
    color: $color-rose-500;
    font-size: 1.4rem;
    font-weight: $fw-semi-bold;
  }

  &__filled {
    display: flex;
    flex-direction: column;
    gap: $spacing-300;
  }

  &__order {
    display: flex;
    flex-direction: column;
    gap: $spacing-300;
  }

  &__order-icon-delivery {
    background: $color-rose-50;
    border-radius: 0.8rem;
    padding: $responsive-14px-16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing-100;
  }

  &__order-icon {
    display: block;
  }

  &__order-delivery {
    color: $color-rose-900;
    font-size: $responsive-12px-14px;
    white-space: nowrap;

    &-semi-bold {
      font-weight: $fw-semi-bold;
    }
  }
}

// ************** ITEMS **************
.items {
  list-style: none;

  & .item:not(:first-child) {
    padding-top: $spacing-200;
  }

  & .item:last-child {
    padding-bottom: $spacing-300;
  }
}

// *************** ITEM ***************
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: $spacing-200;
  border-bottom: 0.1rem solid $color-rose-100;

  &__thumbnail {
    display: block;
    width: $responsive-46px-48px;
    height: $responsive-46px-48px;
    border-radius: 0.4rem;
    margin-right: $spacing-200;
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: $spacing-100;
  }

  &__name {
    color: $color-rose-900;
    font-size: 1.4rem;
    font-weight: $fw-semi-bold;
  }

  &__pricing {
    display: flex;
    gap: $spacing-100;
    align-items: center;
  }

  &__quantity {
    color: $color-red;
    font-size: 1.4rem;
    font-weight: $fw-semi-bold;
  }

  &__price {
    color: $color-rose-500;
    font-size: 1.4rem;
  }

  &__total-price {
    color: $color-rose-500;
    font-size: 1.4rem;
    font-weight: $fw-semi-bold;
  }

  &__remove-btn {
    border: none;
    background: none;
  }

  &__remove-icon {
    display: block;
  }
}

// ************** ORDER **************
.order {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__total-text {
    color: $color-rose-900;
    font-size: 1.4rem;
  }

  &__total-price {
    color: $color-rose-900;
    font-size: 2.4rem;
    font-weight: $fw-bold;
  }
}

// ************* OrderBtn *************
.btn-order {
  height: 5.3rem;
  border: none;
  border-radius: 99.9rem;
  background: $color-red;
  color: $color-white;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: $fw-semi-bold;
  transition: transform 0.1s ease-in-out;
  padding: $spacing-200;

  &:active {
    transform: translateY(0.2rem);
  }
}

// ************** MODAL **************
.modal {
  border-radius: 1.2rem 1.2rem 0 0;
  background: $color-white;
  padding: $spacing-500 $responsive-24px-40px $responsive-24px-40px;
  display: flex;
  flex-direction: column;
  gap: $spacing-400;
  width: 100%;
  bottom: 0;
  z-index: 10;
  position: fixed;
  max-height: 100vh;
  overflow-y: auto;
  top: 10%;

  &__icon-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: $spacing-300;
  }

  &__confirmed-icon {
    display: block;
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: $spacing-100;
  }

  &__text-confirmed {
    color: $color-rose-900;
    font-size: 4rem;
    font-weight: $fw-bold;
    line-height: 4.8rem;
  }

  &__text-enjoy {
    color: $color-rose-500;
    font-size: 1.6rem;
  }

  &__items-order {
    padding: $responsive-20px-24px;
    border-radius: 0.8rem;
    background: $color-rose-50;
    display: flex;
    flex-direction: column;
    gap: $spacing-300;

    & .items .item {
      justify-content: initial;

      & .item__details {
        margin-right: 1.6rem;

        & .item__name {
          font-size: $responsive-12px-14px;
        }

        & .item__pricing {
          gap: $spacing-200;
        }
      }

      & .item__total-price {
        margin-left: auto;
        color: $color-rose-900;
        font-size: $responsive-14px-16px;
      }
    }
  }

  & + .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color-overlay-bg;
    z-index: 5;
  }
}

// ************ 575px LAYOUT ************
@media only screen and (min-width: 35.9375em) {
  // ************ ANIMATIONS ************
  @keyframes slide-up {
    from {
      top: 100%;
    }
    to {
      top: 50%;
    }
  }

  // **************** APP ****************
  .app {
    padding: $spacing-500;
  }

  // ************* DESSERTS *************
  .desserts {
    &__container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: $spacing-400 $spacing-300;
    }
  }

  // ************** DESSERT **************
  .dessert {
    &__image-container {
      max-width: 33.2rem;
    }
  }

  // *************** CART ***************
  .cart {
    max-width: 80.2rem;
  }

  // *************** MODAL ***************
  .modal {
    border-radius: 1.2rem;
    width: calc(100% - 8rem);
    max-width: 80.2rem;
    bottom: initial;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// ************ TABLET LAYOUT ************

// ************ 768px LAYOUT ************
@media only screen and (min-width: 48em) {
  // ************* DESSERTS *************
  .desserts {
    &__container {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  // ************** DESSERT **************
  .dessert {
    &__image-container {
      max-width: 25.1rem;
    }
  }
}

// *********** DESKTOP LAYOUT ***********

// ************ 1440px LAYOUT ************
@media only screen and (min-width: 90em) {
  // *************** ROOT ***************
  #root {
    padding: $spacing-1100 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // **************** APP ****************
  .app {
    flex-direction: row;
    align-items: start;
    padding: initial;
  }

  // *************** CART ***************
  .cart {
    width: 38.4rem;
  }

  // *************** MODAL ***************
  .modal {
    width: 59.2rem;
  }
}

// ******** DESKTOP HOVER STATES ********

// ********** 992px MEDIA QUERY **********
@media only screen and (min-width: 62em) {
  // ************** DESSERT **************
  .dessert {
    &__cart-btn:hover {
      border: 0.1rem solid $color-red;

      & .dessert__cart-text {
        color: $color-red;
      }
    }

    &__decrement-btn:hover {
      #Vector_2 {
        fill: $color-red;
      }
    }
  }
}

// ********** DYNAMIC STYLES **********

// ************* DESSERT *************
.dessert {
  &__img--added {
    border-color: $color-red;
  }
}

// **************** MODAL ****************
.modal-open {
  overflow: hidden;
}
